.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 110px;
  background-color: #040713;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  z-index: 1000;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  box-sizing: border-box;
}

.logo {
  font-size: 40px;
  font-weight: 800; /* ExtraBold */
  color: #E7E3D8;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

/* Адаптивность */
@media (max-width: 768px) {
  .header {
    height: 90px;
  }

  .logo {
    font-size: 32px;
  }

  .container {
    padding: 0 40px;
  }
}

@media (max-width: 375px) {
  .header {
    height: 80px;
  }

  .logo {
    font-size: 28px;
  }

  .container {
    padding: 0 20px;
  }
}

